<div class="profile-picture">
    <form action="/owner/upload" enctype="multipart/form-data" method="post">
        <input type="file" name="image">
        <button type="submit">upload Profile</button>
    </form>
</div>