<%- include('./partials/header') %>
<div class="container mt-24 text-center">
  <h1 class="text-green-600 text-2xl font-bold">Payment Successful</h1>
  <p class="mt-4">Thank you for your payment!</p>
  <a href="/user/orders/<%= order._id%>" class="text-blue-600 underline">View Your Orders</a>
</div>

